* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: headFont; /* set name */
  src: url("fonts/next/Next Ups.ttf"); /* url of the font */
}
.banner{
  background-color: rgba(30,30,30,1);
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner header p,
.banner header span{
  position: relative;
  display: inline-block;
}

/* Text styling */
.banner header p{
  font-size: 55px;
  color: white;
  font-family: headFont, sans-serif;
}

.banner span{
  color: red;
  text-shadow: 0px 1px 10px white;
}

/* Underline animation */
.banner header p::after{
  content: "";
  position: absolute;
  left: -20%;
  bottom: -8px;
  height: 5px;
  width: 140%;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 55px;
  animation: underline-move 3s ease-in-out infinite;
}

/* Keyframes */
@keyframes underline-move {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }

  30% {
    transform: scaleX(1);
    transform-origin: left;
  }

  50% {
    transform: scaleX(1);
    transform-origin: right;
  }

  70% {
    transform: scaleX(0);
    transform-origin: right;
    color: red;
  }
  
  100% {
    transform: scaleX(0);
    transform-origin: left;
  }
}
.content{
  background-color:rgba(30,30,30,1);
  height:auto;
  color:white;
  font-family: montserrat, sans-serif;
}
.content hr{
  width: 100%;
  height:2px;
  margin: 0;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, red , white, red);
  border: none;
}
.content h1{
  color:red;
  text-align: center;
  font-size: 25px;
  font-weight: 900;
}
.container1 {
  display: grid;
  grid-template-columns: auto;
  background-color: transparent;
  padding: 10px;
}
.container2 {
  display: grid;
  grid-template-columns: auto auto;
  background-color: transparent;
  padding: 10px;
}
.box{
  max-width: 90%;
  display: block;
  margin: 20px auto;
  background: rgba(255,0,0,.35);
  border: none;
  border-radius: 15px;
  padding: 10px;
  font-weight: 100;
}
@media (max-width: 900px){
  .container2 {
    display: grid;
    grid-template-columns: auto;
    background-color: transparent;
    padding: 10px;
  }
}
footer{
  height:auto;
  background:rgba(45,45,45,1);
  text-align: center;
}
footer p{
  color:white;
  font-family: montserrat, sans-serif;
}
#creator {
  font-weight:900;
}
footer a{
  color:red;
  text-decoration: none;
}
footer a:hover{
  text-decoration: underline;
}
.liam{
  padding:25px;
}
.liam p{
  font-size: 25px;
  color:white;
  font-family: headFont, sans-serif;
}
.liam span{
  color:red;
  text-shadow: 0px 1px 10px white;
}